.communityHeader {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 0.1vh solid black;
  }
  
  .communityInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

  }

  .joinLeaveButton {
    background-color: #4b4b4b;
    color:white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.95em;
    margin-top: 10px;
    border-radius: 10px;
  }
  .joinLeaveButton:hover {
    background-color: #6366F1;
  }

.buttonContainer button {
    margin-top: 5%;
    flex-grow: 1;
    border-radius: 8px;
    width: 10vw;
    height: 5vh;
    background-color: white !important;
    background: white !important;
    border: 1px solid #d1d5db;
    color: black;
    cursor: pointer;
    font: 600 .85em 'Poppins', sans-serif;
    transition: all 0.2s ease;
}



.buttonContainer button.selected {
    background-color: #6366F1 !important;
    background: #6366F1 !important;
    color: white;
    border-color: #6366F1;
    font-weight: 700;
}



.buttonContainer {
    align-self: flex-end;
    display: flex;
    gap: 0.1rem;
}

#postContainer {
    margin-top: 20px;
}
.communityCreatedBy {
  font-style: italic;
  color: #4d4d4d;
  font-size: 0.9em;
  margin: 5px 0;
}